.headerContainer {
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(to right, #009879, 30% , transparent);
    height: 60px;
}


@media only screen and (min-width: 600px) {
    /* For tablets: */
    .headerContainer {
        height: 50px;
    }
  }
  
  @media only screen and (min-width: 769px) {
    /* For desktop: */
    .headerContainer {
        height: 60px;
    }

  }
  
  
  