/* floorProgress.module.css */

.allProgressContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    min-height: 100px;
    max-width: 100px;
    overflow: show;
  }
  

.progressContainer {
    display: flex;
    flex-direction: row;
  }
  

.progress td{
  font-size: 15px;
  color: cornsilk;
  margin-right: 10px;
}

.progressDate {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.progressEth {
    display: flex;
    flex-direction: row;
    min-width: max-content;
    
}

.aboveInital {
    color: green;
}

.belowInitial {
    color: red;
}


