/* floorProgress.module.css */

.allProgressContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  min-height: 100px;
}

.progressContainer {
    display: flex;
    flex-direction: row;
    max-width: min-content;
  }
  

.progress td{
  font-size: 15px;
  color: cornsilk;
  margin-right: 10px;
}

.progressDate {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.progressEth {
    display: flex;
    flex-direction: row;
    min-width: max-content;
    width: 100%;
}

