.confirm p {
  margin:0;
}
  
.confirm h1 {
  margin-bottom:20px;
}

.confirm .modalBackground {
  width: 100vw;
  height: 130vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ced4da80;
  margin-top:-30vh;
}

.confirm .modalContainer {
  width: 1000px;
  height: fit-content;
  border-radius: 12px;
  background-color: #009879;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.confirm .modalContainer .title {
  display: inline-block;
  color:white;
  text-align: center;
}

.confirm .titleCloseBtn {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.confirm .titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;

}

.confirm .modalContainer .body {
  flex: 30%;
  color:black;
  display: flex;
  justify-content: center;
  align-items:center;
  font-size: 1.7rem;
  text-align: center;
}

.confirm .modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm .modalContainer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

.confirm .cancelButton {
  background-color: crimson!important;
}

.confirm .fancyButton {
  font-family: monospace;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0px 10px;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.confirm .fancyButton:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}



