#nav {
	margin:0;
  padding: 0;
  text-align: center;
}

#nav li {
	display:inline-block;
}

#nav a:link,
#nav a:visited {
  color:#000;
	background:#009879;
	padding:20px 40px;
	margin-bottom: 10px;
	margin-top: 10px;
	display: inherit;
	width:auto;
	border-right:1px solid #42432d;
	text-decoration:none;
	font:bold 1em/1em Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	text-shadow: 2px 2px 2px #555;
}

#nav a:hover,
#nav a:focus {
	color:#fff;
}
