.authButtonContainer button p {
    position: absolute;
    margin: 15px 25px;
    padding: 0!important;
    right: 0;
    background-color: transparent;
    text-align: end;
    color: #009879;
    font-family: Optima;
}
