.authButtonContainer p {
    display: inline-block;
    margin: 15px 25px;
    padding: 0!important;
    background-color: transparent;
    text-align: right;
    color: white;
    font-family: Roboto;
}
